.App {
  font-family: Avenir;
  font-size: 20px;
  text-align: center;
  background-color: rgba(240, 128, 128, 0.4);
  border: 2px solid rgba(240,128,128,.5);
  padding: 50px;
  display: flexbox;
  padding-bottom: 20px;
  margin-bottom: 50px;
  margin-inline-start: 200px;
  margin-inline-end: 200px;
}

img {
  margin-left:215px;
  cursor: pointer;
  position:relative;
  width: 500px;
  height: 350px;
  display: flex;
  float:top;
  
}

#title{
  font-size: 30px;
  cursor: pointer;
  font-weight: bold;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color:white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title {
  font-size: 20px;
  font-weight: 0;
  font-family: Avenir;
  cursor: pointer;
  font-weight: light;
  font-style: italic;
}

#other {
  font-size: 25px;
  font-weight: lighter;
}